
.transitionEffect {
width: 100vw;
height: 100vh;
background: #EADBC8;
text-transform: uppercase;
position: fixed;
top: 0;
display: flex;
align-items: center;
justify-content: center;
z-index: 10;
}

.transitionEffect2 {
width: 100vw;
height: 100vh;
background: #EADBC8;
text-transform: uppercase;
position: fixed;
top: 0;
display: flex;
align-items: center;
justify-content: center;
z-index: 10;
}

.path {
  color: #102C57;
  position: absolute;
}


