.logoContainer {
  display: flex;

  width: fit-content;
  height: auto;
  position: relative;
  justify-content: center;
  align-items: center;

  padding: 20px 50px 20px 50px;
}

.logo {
  // padding: 0 50px 0 50px;
  height: 50px;
  width: auto;
  min-height: 50px;
  z-index: 18;
  cursor: none;
}

.cursor {
  width: 100%;
  height: 100%;
  z-index: 1;
  position: absolute;
}

.border {
  position: absolute;
  width: 60%;
  height: 100%;
  border: 3px solid #102c57;
  border-radius: 50px;
}
