
.trademark {
  align-self: center;
  color: #102C57;
  margin: 0;
  padding: 0;
  width: fit-content;
  font-size: 18px;
}


.container {
  height: 33px;
  width: fit-content;
  align-self: center;
  overflow: hidden;
}


