

.marquee {
  border: 2px solid black;
  border-left: 0 ;
  border-right: 0 ;
  white-space: nowrap;
  overflow: hidden;
}

.child {
  display: flex;
  flex-direction: row;

  &:hover > h1 {
    color: blue;
  }
}

.nest {
  background-color: rgba(0, 0, 255, 0.164);

  transition: color 100ms linear;

  &:hover {
    background: rgba(0, 0, 255, 0.300);
  }
}

