.wrapper {
  width: 100vw;
  height: 25vh;
  overflow: hidden;
  position: relative;
  top: 3vh;
  z-index: 10;
}

.slidingText {
  position: relative;
  top: 0;
  border: 0 solid black;
  border-top-width: 2px;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  z-index: -1;
  overflow: hidden;
  background: white;
}

.slidingText2 {
  position: relative;
  top: 0;
  border: 0 solid black;
  border-bottom-width: 2px;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  z-index: -1;
  overflow: hidden;
  background: white;
}

.container {
  display: flex;
  gap: 50px;
  overflow: hidden;
  background: white;

  p {
    overflow: hidden;
  }
}


.marquee {
  border: 2px solid black;
  border-left: 0;
  border-right: 0;
  white-space: nowrap;
  overflow: hidden;
  z-index: 10;
}

.child {
  display: flex;
  flex-direction: row;

  &:hover>h1 {
    color: blue;
  }
}

.nest {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #DAC0A3;

  transition: background 100ms linear;

  &:hover {
    background: #EADBC8;
  }
}


.text {
  color: #102C57;
}