.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 13vw;
  height: 5.5rem;
  padding: 20px 30px;
  border-radius: 60px;
  position: absolute;
  overflow: hidden;
  transform-origin: center;
  background: white;
  z-index: 5;

  &::before {
    content: "";
    border: #102c57 solid 2px;
    position: absolute;
    border-radius: inherit;
    inset: 0.4rem;
    z-index: 11;
    pointer-events: none;
  }
}

.inner {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  width: 97%;
  height: 95%;
  padding: 20px 30px;
  border-radius: 40px;
  position: absolute;
  overflow: hidden;
  transform-origin: center;
  background: white;
  z-index: 10;
}

.bar {
  position: absolute;
  background: #102c57;
  width: 100%;
  height: 100%;
  transform-origin: left;
  cursor: none;
  pointer-events: none;

  &::before {
    content: "";
    border: #102c57 solid 2px;
    position: absolute;
    inset: -0.75rem;
    opacity: 1;
  }
}

.wrapper {
  position: fixed;
  bottom: 15vh;
  left: 45vw;
  z-index: 4;
  // cursor: none;
}

.tooltip {
  position: relative;
  height: 50px;
  top: 3.5vh;
  left: -2vw;

  &__text {
    position: absolute;
    white-space: nowrap;
    font-weight: 700;
    top: 2vh;
    left: -5vw;
    rotate: -30deg;
  }
}

.motionwrapper {
  transform-origin: bottom;
  animation: 1s linear 1s infinite alternate fade-anim;
}

@keyframes fade-anim {
  from {
    opacity: 0.5;
  }

  to {
    opacity: 1;
  }
}