.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  padding: 20px 0;
  border: 2px solid #DAC0A3;
  width: 12vw;
  padding: 20px 30px;
  border-radius: 40px;
  position: fixed;
  bottom: 50px;
  left: 35vw;
  overflow: hidden;
  transform-origin: center;
  background: white;
  z-index: 5;
 }


