

.banner {
  border-left: 0;
  border-radius: 0 50px 50px 0;
  width: 15vw;
  height: 13vh;
  left: 0;
  top: 20vh;
  background: white;
  position: sticky;
  z-index: 4;
  background: #102C57;
  display: flex;
  align-items: center;
  padding: 1rem;

  h6 {
    color: #F8F0E5;
  }

  .circle {
    height: 100%;
    width: 45%;
    background: #F8F0E5;
    border-radius: 3rem;

    .ping {
      
      &__inner {
        width: 20%;
        height: 20%;
        border-radius: 2rem;
        background: blue;
        stroke: 20px solid white;
        stroke: #F8F0E5;
        stroke-width: 10px;
      }
    }
  }
}
