

.banner {
  border-left: 0;
  border-radius: 0 60px 0 0;
  width: 15rem;
  height: 6rem;
  left: 0;
  bottom: 0;
  position: fixed;
  z-index: 5;
  background: #102C57;
  display: flex;
  align-items: center;
  padding: 1rem;

  h6 {
    color: #F8F0E5;
  }

  .circle {
    min-height: 100px;
    min-width: 100px;
    background: #F8F0E5;
    border-radius: 50px;

    .ping {
      background: white;
      position: absolute;
      top: 23px;
      width: 25px;
      height: 25px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50px;

        .innerPing {
          width: 15px;
          height: 15px;
          border-radius: 2rem;
          background: green;
          animation: 1.5s linear 0.5s infinite pulse;

        }
    }
  }
}

@keyframes pulse {
  from {
    transform: scale(1);
    opacity: 1
  }
  to {
    transform: scale(1.5);
    opacity: 0;
  }
}
