.cursorWrapper {
  height: fit-content;
  width: fit-content;
  position: fixed;
  z-index: 5;
  pointer-events: none;
  display: flex;
  justify-content: center;
  align-items: center;

  @media (max-width: 768px) {
    display: none;
  }


  .cursorSecondary {
    height: 10px;
    width: 10px;
    // position: fixed;
    opacity: 0.5;
    pointer-events: none;
    z-index: 5;
  }

  .cursorThird {
    height: 10px;
    width: 10px;
    // position: fixed;
    border-radius: 20px;
    // background: #f8f0e5;
    opacity: 0.5;
    pointer-events: none;
    z-index: 5;

    .label {
      margin-top: 25px;
      font-size: 0.5rem;
      width: 5px;
      font-weight: 600;
      color: black;
      text-transform: uppercase;
      text-align: center;
    }
  }


}

.cursor {
  height: 20px;
  width: 20px;
  background: #102c57;
  position: fixed;
  opacity: 0.5;
  border-radius: 20px;
  pointer-events: none;
  z-index: 5;
}

.cursorBorder {
  height: 40px;
  width: 40px;
  border: 2px solid #102c57;
  position: fixed;
  opacity: 0.5;
  border-radius: 40px;
  pointer-events: none;
  z-index: 5;
}